.tzgg{width: 600px;height: 300px;margin:100px auto;}
.tzgg h3{text-align: center;font-weight: normal;font-size: 14px; font-family : Arial,Tahoma,Verdana;color: black;}
.tzgg p{text-indent: 2em; 	font-size: 13px;font-family : Arial,Tahoma,Verdana;color: black; }
.tzgg .end{float: right;margin-right: 40px;margin-top: 30px;}