body {
  margin:0px;
  background-color:rgba(66, 197, 228, 0.168627450980392);
  background-image:none;
  position:relative;
  left:-0px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33_img {
  position:absolute;
  left:-100px;
  top:-98px;
  width:100%;
  height:269px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:2400px;
  height:69px;
}
#u34 {
  position:absolute;
  left:2px;
  top:26px;
  width:1419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_ann {
  position:absolute;
  left:1416px;
  top:-4px;
  width:1px;
  height:1px;
}
#u35_img {
  position:absolute;
  left:-45px;
  top:-45px;
  width:361px;
  height:149px;
}
#u35 {
  position:relative;
  left:580%;
  top:16px;
  width:261px;
  height:49px;
  font-size:13px;
  color:#CCCCCC;
  text-align:right;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u37 {
  position:absolute;
  left:8px;
  top:12px;
  width:87px;
  height:38px;
}
#u38 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u39 {
  position:absolute;
  left:120px;
  top:30px;
  width:1162px;
  height:225px;
  color:#666666;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u41 {
  position:absolute;
  left:105px;
  top:19px;
  width:255px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:627px;
}
#u43 {
  position:absolute;
  left:-1px;
  top:69px;
  width:161px;
  height:627px;
}
#u44 {
  position:absolute;
  left:2px;
  top:306px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
