body {
  margin:0px;
  background-image:url('../../images/user_login/bg.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:contain;
  position:relative;
  left:-0px;
  width:1310px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:290px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1 {
  position:absolute;
  left:506px;
  top:286px;
  width:442px;
  height:290px;
  opacity:0.6;
  color:#FFFFFF;
  text-align:left;
}
#u2 {
  position:absolute;
  left:2px;
  top:137px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(175, 153, 141, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u3 {
  position:absolute;
  left:655px;
  top:367px;
  width:245px;
  height:35px;
  opacity:0.8;
  color:#FFFFFF;
  text-align:left;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(175, 153, 141, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5 {
  position:absolute;
  left:655px;
  top:426px;
  width:245px;
  height:35px;
  opacity:0.8;
  color:#FFFFFF;
  text-align:left;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u7 {
  position:absolute;
  left:551px;
  top:376px;
  width:71px;
  height:22px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u9 {
  position:absolute;
  left:551px;
  top:436px;
  width:70px;
  height:22px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(15, 149, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:689px;
  top:490px;
  width:98px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u13 {
  position:absolute;
  left:759px;
  top:538px;
  width:116px;
  height:16px;
  opacity:0.8;
  color:#FF0000;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u15 {
  position:absolute;
  left:689px;
  top:305px;
  width:135px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:76px;
}
#u17 {
  position:absolute;
  left:166px;
  top:734px;
  width:1144px;
  height:75px;
  opacity:0.6;
  text-align:left;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:1140px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
}
#u19 {
  position:absolute;
  left:0px;
  top:19px;
  width:116px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:17px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:36px;
  color:#CCCCCC;
}
#u21 {
  position:absolute;
  left:146px;
  top:27px;
  width:513px;
  height:51px;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:36px;
  color:#CCCCCC;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  word-wrap:break-word;
}
